{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access denied</h1>

    <p>
        The requested page couldn't be accessed. You need to login first!
        &nbsp;
        <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}