<script src="{{ asset('vendor/jquery-ui/jquery-ui.js') }}"></script>
<script>
    $( function() {
        $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>

{{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}
