<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <h1>{{ title }}</h1>
            {{ form_start(genusForm) }}
                {#{{ form_errors(genusForm) }}#}
                {{ form_widget(genusForm) }}
                <button type="submit" class="btn btn-primary" formnovalidate>
                    Save
                </button>
            {{ form_end(genusForm) }}
        </div>
    </div>
</div>