{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/jquery-ui.css') }}">
{% endblock %}

{% block body %}
    {{ include('admin/genus/_formbody.html.twig', {'title': 'New Genus'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('admin/genus/_formjs.html.twig') }}
{% endblock %}