{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Genus</th>
            <th># of species</th>
            <th>Sub-Family</th>
            <th>updated</th>
        </tr>
        </thead>
        <tbody>
        {% for genus in genuses %}
            <tr>
                <td>{{ genus.name |upper }}</td>
                <td>{{ genus.speciesCount }}</td>
                <td>{{ genus.subFamily }}</td>
                <td>{{ genus.updatedAt|date('Y-m-d') }}</td>
                <td>
                    <a href="{{ path('genus_show', {'genusId': genus.id}) }}"
                       class="btn btn-xs btn-info"><span class="fa fa-openid"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_genus_edit', {'id': genus.id}) }}"
                       class="btn btn-xs btn-success"><span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}