{% extends 'base.html.twig' %}

{% block title %}Genus {{ genus.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ genus.name }}</h2>
    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>{{ genus.subFamily }}</dd>
                <dt>Known Species:</dt>
                <dd>{{ genus.speciesCount|number_format }}</dd>
                <dt>Fun Fact:</dt>
                <dd>{{ genus.funFact|markdownify }}</dd>
                <dt>Recent Notes</dt>
                <dd>{{ recentNoteCount }}</dd>
                <dt>First Discovered At</dt>
                <dd>{{ genus.firstDiscoveredAt|date('d-m-Y') }}</dd>
                <dt>Habitat</dt>
                {% for habitat in genus.linkHabitat %}
                    <dd>{{ habitat.depth }} b.s.l.</dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    {#<a href="{{ path('genus_show_notes', {'id': genus.id}) }}">Json Notes</a>#}
    {#<div class="notes-container">#}
        {#<h2 class="notes-header">Notes</h2>#}
        {#<div><i class="fa fa-plus plus-btn"></i></div>#}
    {#</div>#}
    {#<section id="cd-timeline">#}
        {#{% for note in notes %}#}
            {#<div class="cd-timeline-block">#}
                {#<div class="cd-timeline-img">#}
                    {#<img src="{{ asset('images/leanna.jpeg') }}" class="img-circle" alt="Leanna!">#}
                {#</div>#}
                {#<div class="cd-timeline-content">#}
                    {#<h2><a href="#">AquaPelham</a></h2>#}
                    {#<p>{{ note }}</p>#}
                    {#<span class="cd-date">Dec. 10, 2015</span>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</section>#}
    <div id="js-notes-wrapper"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>
    <script type="text/babel">
        var notesUrl = '{{ path('genus_show_notes', {'id': genus.id}) }}';
        ReactDOM.render(
            <NoteSection url={notesUrl} />,
            document.getElementById('js-notes-wrapper')
        );
    </script>

{% endblock %}