{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h1>Register!</h1>
                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>
                        Register
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}